.sidebar {
  width: 30%;
  background: radial-gradient(pink, yellow, #9198e5);;
  border: 3px solid black;
  margin: 2px;
  padding: 2px;
}

.first {
  float: left;
  width: 50%;
  padding: 5px;
}

.second {
  float: right;
  padding: 5px;
}

.columns {
  width: 300px;
  background: linear-gradient(#e66465, #9198e5);

}

@media screen and (min-width: 768px) {
  .columns {
    width: 300px;
    float: left;
    padding: 20px;
  }
  .sidebar {
    width: 300px;
    float: right;
    padding: 20px;
  }
}

h1 {
  font-family: impact;
  font-size: 50px;
}
